---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>Hello, this is a demo of Astro and Cloudflare Workers</h1>
  <p>
    This is a simple page to test the integration of Astro and Cloudflare
    Workers
  </p>
  <p>and using build time and runtime environment variables</p>

  <p>
    For SSG page example the see the
    <a href="/ssg-example">SSG page</a>
  </p>
  <p>
    For SSR page example see the <a href="/ssr-example">SSR page</a>
  </p>
</Layout>
