---
import Layout from "@/layouts/Layout.astro";
import { getSecret } from "astro:env/server";

export const prerender = true;

const envGetSecret = getSecret("SECRET_VAR_ONE");
const envAstroEnv = import.meta.env.SECRET_VAR_ONE;
const envCloudflareAstroLocals = Astro.locals?.runtime?.env?.SECRET_VAR_ONE;
---

<Layout>
  <h1>SSG Example</h1>
  <p>
    This is a simple page to test the integration of Astro and Cloudflare
    Workers
  </p>
  <p>and using build time environment variables in SSG mode</p>

  <p>
    Build time environment variable (using import.meta.env): {envAstroEnv}
  </p>

  <p>
    Build time environment variable (using getSecret from astro:env/server): {
      envGetSecret
    }
  </p>

  <p>
    Build time environment variable (using Astro.locals): {
      envCloudflareAstroLocals
    }
  </p>

  <a href="/">Back to home</a>
</Layout>
